{% extends 'base.html' %}
{% block content %}
<div class="conatiner mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-body p-4">

                    <h3 class="text-center mb-4">Reset Password</h3>
                    <!-- Non-field errors (wrong password, inactive account, etc.) -->
                    
                    <form method="post">
                        {% csrf_token %}

                        <!-- Email -->
                        <div class="mb-3">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            <div class="text-danger small">
                                {{ form.email.errors }}
                            </div>
                        </div>

                        <div class='mb-3'>
                            {{form.new_password1.label_tag}}
                            {{form.new_password1}}
                            <div class="text-danger small">
                                {{ form.new_password1.errors }}
                            </div>
                        </div>

                        <div class='mb-3'>
                            {{form.new_password2.label_tag}}
                            {{form.new_password2}}
                            <div class="text-danger small">
                                {{ form.new_password2.errors }}
                            </div>
                        </div>

                        <!-- Submit -->
                        <div class="d-grid">
                            <button type="submit" name="send-otp" class="btn btn-primary btn-lg">
                                Send OTP
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>

</div>
{% endblock %}